@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --semi-white: #f1f1f1;
    --roboto-mono: "Roboto Mono";
    --button-color: #929294;
}

header{
    position: absolute;
    z-index: 10;
    font-family: var(--roboto-mono);
    color: var(--semi-white);        
}

header img{
    background-color: var(--semi-white);
    border-radius: 8px;
    height: 11vh;
}

.title{
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 3vw;
    gap: 1.2vh;
    line-height: 1.2;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1{
    position: relative;
    height: 100vh;
    width: 53vw;
    filter: brightness(60%);
    background-image: url(img/dance.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tagline{
    font-family: var(--roboto-mono);
    font-size: 2.2rem;
    width: 35vw;
    position: absolute;
    z-index: 20;
    color: white;
    left: 3vw;
    bottom: 7vh;
    line-height: 1.25;
}

/* Container 2 */
.container2{        
    font-family: var(--roboto-mono);    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12vh 11vw 0 0;
}

.container2 h1{
    position: absolute;
    top: 17vh;
    right: 10vw;
    font-size: 4rem;

}

.input-containers{
    display: flex;
    gap: 12vh;
}

form div > input{
    padding: 0.3rem;
    margin: 1vh 0 1vh 0;
    height: 4vh;
    width: 13vw;
}

button{
    font-family: var(--roboto-mono);
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--button-color);
    font-size: 1.3rem;
    width: 10vw;
    color: white;
    border-style: none;
    padding: 1rem;
    margin: 3vh 0 0 0;
    cursor: pointer;
}

button:hover{
    background-color: #57575e;
}

section{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.login{
    margin: 4vh 0 0;
}

.login a{
    color: var(--button-color);
}